@(bucketName: String, uploads: List[controllers.MultipartUpload])

    @main(s"Incomplete Uploads for $bucketName") {
        <h3>@{s"Incomplete Uploads for $bucketName"}</h3>
        <table>
            <thead>
                <td>Path</td>
                <td>Upload Id</td>
            </thead>
            <tbody>
            @uploads.map { upload =>
                <tr>
                    <td>@upload.key</td>
                    <td>@{s"${upload.uploadId.substring(0,40)}..."}</td>
                </tr>
            }
            </tbody>
        </table>

        <a href="/multipart_uploads/clear">Clear uploads</a>
    }