@(repos: Iterable[models.Repository])(implicit flash: Flash)

@main("Repositories") {

    <ul>
    @repos.map { repo =>
        <li><a href="@routes.RepositoryController.show(repo)">@repo.qualifiedName</a></li>
    }
    </ul>
    <br>
    <div><a href="@routes.S3Controller.multipartUploads()">Show failed uploads</a></div>
    <div><a href="@routes.S3Controller.removeIncomplete()">Remove incomplete layers (may take some time)</a></div>
    <div><a href="@routes.S3Controller.removeOrphanedLayers()">Remove orphaned layers (may take some time)</a></div>
}
